/* Reset some basic styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #660a0a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline;
    padding: 0 20px 0 20px;
}

header h1 {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

section {
    padding: 20px 0;
}

#about, #services, #team, #contact {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.services {
    display: flex;
    justify-content: space-between;
}

.service {
    width: 30%;
    background: #0eb863;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.team-members {
    display: flex;
    justify-content: space-between;
}

.team-member {
    width: 30%;
    text-align: center;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    background: #b6a82d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
